<style>
	body {font-family:Arial; font-size:12px;}
</style>
<input id="URL" style="padding:4px; width:700px;" value="/api/dd"><button onclick="ruun(); return false;">RUN</button> <input id="JSON_SIGN" type="checkbox"> json

<pre></pre>



<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
	
	function ruun()
	{
		$.get($('#URL').val(), {}).done(function(d)
		{
			if($('#JSON_SIGN').prop('checked')) {
				$('#URL').css('color','green');
				var jsonPretty = JSON.stringify(d, null, '\t');
				$("pre").text(jsonPretty);
			} 
			else
			{
				$('#URL').css('color','red');
				$("pre").text(d);
			}
			
			
		}).fail(function(xhr, status, error){
			var jsonPretty = JSON.stringify(xhr, null, '\t');
				$("pre").text(jsonPretty);
			
		});

		

		
	}




	
</script>